{;; General configuration
 ;; API Endpoint
 :server "https://api.syncretism.io"
 ;; Is local crawler on
 :local-crawler false
 ;; Where do we store permanent data
 :data-path "data/"
 ;; TD Ameritrade API KEY
 :td-ameritrade-key "ENTER KEY"
 ;; TD Ameritrade API Endpoint
 :td-ameritrade-api "https://api.tdameritrade.com/v1/marketdata/"
 
 ;; All currently loaded data 
 :data
 {;; Saved filters [Name, Data] to load on filter window
  :filters {}
  ;; Historical options displayed Map[Contract, [ts, Data]]
  :historical {}
  ;; Ladders Map[[Ticker, expiration, opt-type], [ts, Data]]
  :ladders {}}

 :ui
 {;; Spreads
  :spreads #{}
  ;; Historical Map[contract, [y left, y right]]
  :historical {}
  ;; Searches Map[UUID, [filter, ts, Data]] (window's UUID)
  :searches {}
  ;; Active filter window Map[key, value]
  :filter nil
  }
 }
